<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://financedebtorledger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ccbef27c-16f8-46e8-94a0-3041118a18a4/resourceGroups/finance-dl-idev-so-rg/providers/Microsoft.Web/sites/FinanceDebtorLedger</ResourceId>
    <UserName>$FinanceDebtorLedger</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://financedebtorledger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>